*, *:before, *:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0px;
}
li{
	list-style: none;
}
html{
	overflow-x: hidden;
}
body{
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
	overflow-x: hidden;
	background: url(../img/bg.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	font-size: 18px;
}
:root {
	--yl: #FFCC00;
}
.container {
	width: 95%;
	margin: 0 auto;
}
.d_g {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}
.m_l {
	grid-column: 3/13;
}
.d_f {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.fd_c {
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.j_sb {
	justify-content: space-between;
}
/*.h {
	height: 100vh;
}*/
.title {
	font-size: 80px;
	font-weight: 800;
}
.yellow {
	color: var(--yl);
}


.menu {
	padding-top: 40px;
	background-color: transparent;
	position: absolute;
	width: 100%;
}
.menu__burger {
	position: relative;
	width: 20px;
	height: 15px;
	cursor: pointer;
	z-index: 1000;
	justify-self: center;
}
.menu__burger.active {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 140px;
	top: 170px;
	position: fixed;
}
.menu__burger span,
.menu__burger span:before,
.menu__burger span:after {
	position: absolute;
	width: 20px;
	height: 2px;
	top: 50%; margin-top: -1px;
	left: 50%; margin-left: -10px;
	background-color: #000;
}
.menu__burger span:before,
.menu__burger span:after {
	content: '';
	display: block;
	-webkit-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;
}
.menu__burger span:before {
	transform: translateY(-5px);
}
.menu__burger span:after {
	transform: translateY(5px);
}
.menu__burger.active span {
	height: 0;
}
.menu__burger.active span:before {
	transform: rotate(45deg);
	width: 30px;
	height: 3px;
	background-color: #000;
}
.menu__burger.active span:after {
	transform: rotate(-45deg);
	width: 30px;
	height: 3px;
	background-color: #000;
}
.menu__bages {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-start;
	align-items: flex-start;
	margin-right: 120px;
	transform: translateY(-30%);
}
.google__link {
	padding-top: 1px;
}
.google__link img{
	width: 140px;
	height: 54px;
}
.apple__link {
	padding: 10px;
}
.menu__overlay {
	height: 100vh;
	width: 100%;
	background-color: #fff;
	position: fixed;
	z-index: 0;
	padding: 140px 120px 140px 200px;
	opacity: 0;
	-webkit-transition: .2s ease;
	-o-transition: .2s ease;
	transition: .2s ease;
	display: none;
}
.menu__overlay.active {
	opacity: 1;
	z-index: 999;
	display: block;
}
.menu__overlay__nav {
	padding: 0;
	padding-top: 90px;
}
.menu__overlay ul li {
	margin-top: 30px;
}
.menu__overlay ul a {
	text-decoration: none;
	color: #000;
	font-size: 48px;
}




.sec_d1 {
	margin-top: 150px;
}
.sec_d1__butons {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 110px;
	grid-row-gap: 50px; 
	margin-top: 150px;
}
.sec_d1__buton {
}
.sec_d1__buton a {
	display: inline-block;
	background-color: var(--yl);
	width: 325px;
	height: 75px;
	color: #000;
	font-size: 16px;
	font-weight: 800;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	position: relative;
	padding-left: 30px;
}
.sec_d1__buton a:after {
	content: '';
	position: absolute;
	background: url(../img/sec_arr.svg);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	width: 28px;
	height: 24px;
	right: 30px;
	-webkit-transition: .3s ease;
	-o-transition: .3s ease;
	transition: .3s ease;
}
.sec_d1__buton a:hover:after {
	transform: translateX(15%);
}





.sec_d2 {
	margin-top: 200px;
}
.sec_d2__title {
	margin-bottom: 90px;
}
.sec_d2__subtitle {
	font-size: 32px;
	font-weight: 800;
	margin-bottom: 45px;
}
.sec_d2__list {
	font-size: 24px;
}
.sec_d2__list__item {
	margin-bottom: 60px;
}
.sec_d2__list__item {
	position: relative;
}
.sec_d2__list__item:before {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: var(--yl);
	left: -35px;
	top: 50%;
	transform: translateY(-50%);
}




.d5_gr {
	grid-column: 6/13;
}
.d5 .sec_d2__list {
	
}
.sec_d2__text {
	margin-right: 40px;
	line-height: 50px;
	font-size: 24px;
}
.sec_d2__avatar {
	grid-row: 2/4;
	grid-column: 2/4;
}








@media screen and (max-width: 415px) {
	.menu {
		
	}
	.menu__bages {
		display: none;
	}
	.menu__nav {
		grid-column: 7/12;
	}
	.title {
		font-size: 47px;
		z-index: 10;
		position: relative;
	}
	.main_d1 {
		height: 100vh;
		display: block;
		padding: 20px;
		padding-right: 10px;
		position: relative;
	}






	.sec_d1 {
		display: block;
		height: 100vh;
		padding-left: 20px;
	}
	.sec_d1__title  {
		font-size: 47px;
	}
	.sec_d1__butons {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		margin-top: 50px;
	}
	.sec_d1__buton {
		margin-left: -20px;
		margin-top: 30px;
	}





	.sec_d2 {
		margin-top: 0;
		display: block;
		padding: 0px 20px;
	}
	.sec_d2__avatar {
		margin-bottom: 30px;
	}
	.sec_d2__text {
		margin-bottom: 50px;
	}
	
	
	.menu__overlay {
		padding: 170px 20px; 
	}
	.menu__burger.active {
		top: 35px;
		left: 20px;
	}
	.menu__overlay__nav {
		padding-top: 50px;
	}
	.menu__overlay__title {
		font-size: 52px;
	}
	.menu__overlay ul a {
		font-size: 40px;
	}
}